@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<main aria-labelledby="title" class="about-container">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Chào mừng bạn đến với thế giới linh kiện điện tử!</h3>

    <p>Chúng tôi tự hào là điểm đến tin cậy cho mọi nhu cầu linh kiện điện tử của bạn. Từ những con chip nhỏ bé đến các bảng mạch phức tạp, cửa hàng của chúng tôi cung cấp<br /> mọi thứ bạn cần để biến ý tưởng sáng tạo thành hiện thực.</p>

    <p>Với kinh nghiệm lâu năm trong ngành, chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng cao với giá cả cạnh tranh. Đội ngũ chuyên gia của chúng tôi luôn sẵn lòng<br /> hỗ trợ và tư vấn để bạn có thể chọn được linh kiện phù hợp nhất với dự án của mình.</p>

    <p>Hãy ghé thăm cửa hàng của chúng tôi hoặc liên hệ qua email để được hỗ trợ tốt nhất!</p>
</main>
